/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
}


/* Body Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

/* Header Styles */
header {
  background-color: #222;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  color: #fff;
}

header h1 {
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffd700; /* Change color on hover */
}

/* Main Content Styles */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  padding-top: 60px; /* Tambahkan padding atas yang sesuai dengan tinggi navbar */
}

section {
  margin-bottom: 30px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

section p {
  margin-bottom: 20px;
}

.services-section ul {
  list-style: none;
}

.services-section li {
  margin-bottom: 10px;
}

/* Contact Section Styles */
.contact-section p {
  margin-bottom: 10px;
}

.contact-section p:last-child {
  margin-bottom: 0;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  font-size: 14px;
}


.social-links {
  list-style: none;
  padding: 0;
  text-align: center;
}

.social-links li {
  display: inline-block;
  margin: 0 10px;
}

.social-links a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: #4267B2; /* Change color on hover */
}