body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 30px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffd700;
  /* Change color on hover */
}

.section-title {
  text-align: center;
  color: #333;
  margin-top: 80px;
}

.artikel-section { 
  padding: 80px 20px 20px; /* Menambahkan padding atas agar konten tidak tertutup oleh navbar */
  padding-top: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card-info {
  padding: 20px;
}

.card-title {
  margin: 0;
  color: #333;
}

.separator {
  width: 40px;
  height: 3px;
  background-color: #ffcc00;
  margin: 10px 0;
}

.card-info p {
  color: #666;
}

.card-info a {
  display: inline-block;
  background-color: #ffcc00;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.card-info a:hover {
  background-color: #ffd700;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.social-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-links li {
  display: inline;
  margin: 0 10px;
}

.social-links li a {
  color: #fff;
  text-decoration: none;
}

.social-links li a:hover {
  color: #ffcc00;
}

